<div class="background">
  <div class="container"><br><br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">BISHNOI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse baseline" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TECHNOLOGIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MARKETING INSIGHT</a>
          </li>
          
          <div class="dropdown nav-item">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">SERVICES</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </div>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
        </ul>
      </div>
        </nav>
  </div>
 
    <div class="row">
      <div class="col-sm-6 lorem">
        <h1>LOREM</h1>
        <h2>IPSUM</h2>
      </div>
      <div class="col-sm-6 image">
        <img src="../../assets/backgrounds/bitcoin_3d_logo.png" class="img-fluid" alt="">
      </div>
    </div>
  
</div>
<div class="logo">
    <img class="img-first" src="../../assets/icons/feature-bitcoin.png" alt="">
  <img class="img-second" src="../../assets/icons/feature-bitcoin copy.png" alt="">
  
</div>
<div class="our-services">
  <h1>OUR SERVICES</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 layer">
        <img src="../../assets/icons/Layer 3.png" alt="">
        <h2>SMART CONTRACTS DEVELOPMENT</h2>
      </div>
      <div class="col-sm-4 layer">
        <img src="../../assets/icons/Layer 4.png" alt="">
        <h2>EXCHANGES</h2>
      </div>
      <div class="col-sm-4 layer">
        <img src="../../assets/icons/Layer 5.png" alt="">
        <h2>BLOCKCHAIN DEVELOPMENT</h2>
      </div>
      
    </div>
    <div class="row">
        <div class="col-sm-4 layer">
          <img src="../../assets/icons/Network-512.png" alt="">
          <h2>HYPERLEDGER</h2>
        </div>
        <div class="col-sm-4 layer">
          <img src="../../assets/icons/if_Dzone_669685.png" alt="">
          <h2>PRIVATE BLOCKCHAIN DEVELOPMENT</h2>
        </div>
        <div class="col-sm-4 layer">
          <img src="../../assets/icons/Layer 6.png" alt="">
          <h2>WALLET</h2>
        </div>
        
      </div>
      <div class="button">
        <button>View All Services</button>
      </div>
  </div>
</div>
<div class="trands">
  <h1>TRENDS</h1>
  <div class="container images">
    <div class="row">
      <div class="col-sm-4">
        <p>How Blockchai Technology <br> Will Fortify <br>Real Estate Industry</p>
        <img src="../../assets/sliders/Real-Estate-Investment-Dropping.png" class="img-fluid" alt="">
        <button>View All</button>
      </div>
      <div class="col-sm-4">
        <p>Blockchain Technology <br> Can Help <br>Fight Cyber Crimes</p>
        <img src="../../assets/sliders/cybercrime2.png" class="img-fluid" alt="">
        <button>View All</button>
      </div>
      <div class="col-sm-4">
        <p>Blockchain Technology <br>Contributing To <br>Research & Development</p>
        <img src="../../assets/sliders/businessman-business-sketch.png" class="img-fluid" alt="">
        <button>View All</button>
      </div>
    </div>
  </div>
</div>
<div class="form-div">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <h5 style="padding-top: 260px;
        color: #fff;
        font-size: 4vh;
        word-spacing: 5px;
        font-weight: 400;">New To Blockchain industry?<br>Or got any queries?<br>We are just one click away!</h5>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="container form" >
          <h2 style="text-align: center;">Contact Us</h2><br>
          <h6 style="text-align: center;">How can we help you?</h6>
          <form action="" class="form-group">
            <input type="text" class="form-control" name="" id="" placeholder="Your Name">
            <input type="email" class="form-control" placeholder="Your email address" name="" id="">
            <input type="text" class="form-control" placeholder="Company" name="" id="">
            <input type="text" class="form-control" placeholder="Your Subject">
            <textarea name="" class="form-control" placeholder="Your Message..." id="" cols="30" rows="10"></textarea><br>
            <button type="submit" class="btn btn-primary form-control" >Submit</button><br><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="footer">
  <p>Copyright 2009-2019.All rights reserved.</p>
</div>